---
import { Icon } from 'astro-icon';

const items = [
	[
		{
			title: '1. Get the master seedword list',
			description: "There's 2048 possible words in the entire BIP39 list. You can download them ",
			icon: 'tabler:list-check',
			link: 'https://github.com/bitcoin/bips/blob/master/bip-0039/english.txt',
			linktitle: '→ here',
		},
		{
			title: '2. Arrange them alphabetically',
			description: 'Open in a spreadsheet ordered from A to Z and assign them numbers from 1 to 2048',
			icon: 'tabler:list-check',
		},
		{
			title: '3. Randomize the numbers',
			description: 'Create a random number mapping to the list of 2048 numbers. This is your seedmap',
			icon: 'tabler:list-check',
		},
		{
			title: '4. Map your seeds to the numbers',
			description:
				'Go through the seed phrase list one word at a time for each of your wallets and write down the corresponding number',
			icon: 'tabler:list-check',
		},
	],
	[
		{
			title: '5. Store numbers in a text file on USB',
			description: 'Create a text file of your wallet seed numbers and save it to a USB drive',
			icon: 'tabler:list-check',
		},
		{
			title: '6. Password protect your seedmap',
			description: 'Create an password-protected PDF file of your seedmap and save it on a second USB drive',
			icon: 'tabler:list-check',
			link: 'https://pdfoffline.com',
			linktitle: ' → Offline PDF Maker',
		},
		{
			title: '7. Save your password',
			description: 'Store your password across multiple locations. This is how you will unlock your seedmap',
			icon: 'tabler:list-check',
		},
		{
			title: '8. Make multiple USB copies',
			description:
				'Duplicate the 2 USB drives and store them in separate physical locations. (eg. home, work, relative) You can update them as you add or change wallets',
			icon: 'tabler:list-check',
		},
	],
];
---

<div id="features-anchor"></div>
<section class="scroll-mt-16 bg-gray-100 border-t border-gray-300 mt-5 pb-8" id="features">
	<div class="px-4 pt-4 pb-16 mx-auto max-w-6xl lg:px-8 lg:py-15 md:pb-10">
		<div class="my-10 mx-auto text-center md:mb-12 max-w-3xl">
			<p class="mx-auto text-base text-orange-500 dark:text-primary-200 font-semibold tracking-wide uppercase">
				Read Time: 60 seconds
			</p>
			<h2 class="text-3xl md:text-4xl font-bold leading-tighter tracking-tighter mb-4 mt-2 font-heading">
				Your Keys, Your Crypto
			</h2>
			<p class="max-w-3xl mx-auto sm:text-center text-xl text-gray-600 dark:text-slate-400">
				Steps to secure your future wealth
			</p>
		</div>
		<div class="grid mx-auto space-y-6 md:grid-cols-2 md:space-y-0">
			{
				items.map((subitems) => (
					<div class="space-y-8 sm:px-8">
						{subitems.map(({ title, description, icon, link, linktitle }) => (
							<div class="flex flex-row max-w-md">
								<div class="mb-4 mr-2">
									<div class="flex items-center justify-center w-10 h-10 rounded-full bg-orange-500 dark:bg-orange-500">
										{icon && <Icon name={icon} class="w-6 h-6 text-white icon-light" />}
									</div>
								</div>
								<div>
									<h3 class="mb-3 text-xl font-bold max-w-[96%] pl-2">{title}</h3>
									<p class="text-gray-600 dark:text-slate-400  max-w-[92%] pl-2">
										{description}

										<a href={link} class="underline" target="_blank">
											{linktitle}
										</a>
									</p>
								</div>
								<div />
							</div>
						))}
					</div>
				))
			}
		</div>
	</div>
</section>
