---
import { Icon } from 'astro-icon';
import { getHomePermalink, getRelativeLink } from '~/utils/permalinks';

const links = [
	// {
	// 	title: 'Product',
	// 	items: [
	// 		{ title: 'Features', href: '#' },
	// 		{ title: 'Customer stories', href: '#' },
	// 		{ title: 'Resources', href: '#' },
	// 	],
	// },
	// {
	// 	title: 'Company',
	// 	items: [
	// 		{ title: 'About', href: '#' },
	// 		{ title: 'Blog', href: '/blog' },
	// 	],
	// },
];

const social = [
	{ label: 'Twitter', icon: 'tabler:brand-twitter', href: 'https://x.com/@graycode007' },
	{ label: 'Linktree', icon: 'tabler:christmas-tree', href: 'https://nicneon.com' },
	{ label: 'YouTube', icon: 'tabler:brand-youtube', href: 'https://www.youtube.com/@cryptosecuritytools' },
	{ label: 'Github', icon: 'tabler:brand-github', href: 'https://github.com/glenfish' },
];
---

<footer class="">
	<div class="max-w-6xl mx-auto px-4 sm:px-6">
		<div class="grid grid-cols-1 gap-4 gap-y-8 sm:gap-8 py-8 md:py-12">
			<div class="col-span-1 lg:col-span-1">
				<!-- <div class="mb-2">
					<a class="inline-block font-bold text-xl" href={getHomePermalink()}>Crypto Security Tools</a>
				</div> -->
			</div>
			{
				links.map(({ title, items }) => (
					<div class="col-span-6 md:col-span-3 lg:col-span-2">
						<div class="text-gray-800 dark:text-gray-300 font-large mb-2">{title}</div>
						{items && Array.isArray(items) && items.length > 0 && (
							<ul class="text-sm">
								{items.map(({ title, href }) => (
									<li class="mb-2">
										<a
											class="text-gray-600 hover:text-gray-700 hover:underline dark:text-gray-400 transition duration-150 ease-in-out"
											href={href}
										>
											{title}
										</a>
									</li>
								))}
							</ul>
						)}
					</div>
				))
			}
		</div>
		<div class="md:flex md:items-center md:justify-between py-6 md:py-8">
			<ul class="flex mb-4 md:order-1 -ml-2 md:ml-4 md:mb-0">
				{
					social.map(({ label, href, icon }) => (
						<li>
							<a
								class="text-gray-400 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 inline-flex items-center"
								aria-label={label}
								href={href}
							>
								<Icon name={icon} class="w-8 h-8" />
							</a>
						</li>
					))
				}
			</ul>

			<div class="text-sm text-gray-700 mr-4 dark:text-slate-400">
				Crypto Security Tools &copy; 2024 All rights reserved.<br />8 The Green, Dover, DE 19901
			</div>
		</div>
	</div>
</footer>
